//Plugins
@import "~bootstrap/scss/bootstrap";

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  box-sizing: border-box;

  .main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;

    padding-top: 10vh;
    padding-bottom: 10vh;
    .plot {
      height: 40vh;
      width: 80vw;
      min-height: 150px;

      @media (min-height: 600px) and (min-width: 800px){
        min-height: 200px;
        min-width: 800px;
      }
    }
  }
}

